h1 {
    text-align: center;
    color: whitesmoke;
    font-size: 50px;

}

h2 {
    font-size: 40px;
}

.donate {
    background-image: url(images/donation11.jpg);

}

p {
    text-align: center;
    color: black
}

.donate p {
    color: whitesmoke;
}

.link-button {
    text-decoration: none;
    background-color: brown;
    color: white;
    padding: 20px;

}

.button {
    text-align: center;
}

h2 {
    text-align: center;
}

.amount {
    display: flex;
    justify-content: center;

}

h3 {
    font-size: 30px;
    text-align: left;
}

#taka {
    background-color: salmon;
}

.unique {
    padding: 30px;
}

body {
    font-family: 'Mingzat',
        sans-serif;
    font-family: 'Poppins',
        sans-serif;
}

.food p {
    text-align: left;
}

h4 {
    font-size: 20px;
}

.essentials {
    display: flex;
    padding: 20%;
}

.humble {
    background-color: black;
    color: orangered;

}

footer p {
    color: aliceblue;
}

#one {
    background-color: lawngreen;
    margin-right: 20px;
}

#two {
    background-color: pink;
    margin-right: 20px;
}

#three {
    background-color: goldenrod;
    margin-right: 20px;
}